*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body { 
    margin: 0; background: var(--bg); 
    color: var(--text); 
    font: 400 14px/20px var(--font);
 }
h1,
h2,
h3, 
p, 
dl, 
dd { 
    margin: 0; 
}
:focus-visible { 
    outline: 2px solid var(--primary); 
    outline-offset: 2px; 
}